<article>
	<h2>Catalog</h2>
	<div class="catalog">
	<% Book.display.each do |book| %>
    <div class="catalog-row clearfix">
      <div class="one_two">
        <%= link_to image_tag(book.cover_image_url, alt: book.title), book_path(book) %> 
      </div>
      <div class="one_two">
        <h3><%= book.title %></h3>
        <h3><%= book.author %></h3>
        <p class="sample">
          <span>&ldquo;</span> <%= book.sample %>
        </p>
        <p>
          <%= link_to 'Read ' + book.title, book_path(book), class: 'btn' %> 
        </p>
      </div>
    </div>
	<% end %>
	</div>
</article>
