<% provide(:title, "About #{@user.name}") %>
<section id="profile">
<h2><%= @user.name %></h2>
<h3>Reader Profile</h3>
<table>
    <tbody>
        <tr><td>Name:</td><td><%= @user.name %></td></tr>
<%- if current_user?(@user) %>
        <tr><td colspan=2>Bookmarks:</td></tr>
		<%- @user.bookmarks.each do |bookmark| %>
		<tr><td><%= link_to "#{bookmark.book.title} (#{bookmark.updated_at})", bookmark.url %></td><td><%= link_to "delete", bookmark, method: :delete %></td></tr>
		<%- end %>
<%- end %>
    </tbody>
</table>
<%- if current_user.admin? && current_user?(@user) %>
<p><%= link_to "New Book", new_book_path, class: "btn" %></p>
<p><%= link_to "Manage Books", books_path, class: "btn" %></p>
<%- end %>
<%- if current_user?(@user) %>
<p><%= link_to "Edit Profile", edit_user_path(current_user), class: "btn" %></p>
<%- end %>
<p><%= link_to "All Readers", users_path, class: "btn" %></p>
</section>