<% provide(:title, "Edit Table of Contents for #{@book.title}") %>
<% total_characters = 0 %>
<% chars_per_page = 3000 %>

<p>Please review and edit the book data that the scanner found and submit.</p>

<table class="book-data-review">
<%= form_for(@book, url: book_path(@book)) do |book_form| %>
	<thead>
		<tr>
			<th>Order</th>
			<th>Title</th>
			<th>Characters</th>
			<th>Pages <br />(estimated)</th>
		</tr>
	</thead>
	<tbody>
  <% @book.sections.each do |section| %>
    <%= book_form.fields_for section, index: section.id do |section_form|%>
		<%- characters = section.text.length %>
		<%- total_characters += characters %>
		<tr>
			<td><%= section.order %></td>
			<td><%= section_form.text_field :title %></td>
			<td><%= number_with_delimiter(characters) %></td>
			<td><%= characters / chars_per_page %></td>
		</tr>
    <% end %>
  <%- end %>
		<tr>
			<td>Total</td>
			<td></td>
			<td><%= number_with_delimiter(total_characters) %></td>
			<td><%= total_characters / chars_per_page %></td>
		</tr>
		<tr>
			<td colspan=4><%= book_form.submit "Submit", class: "btn" %></td>
		</tr>
	</tbody>
<% end %>
</table>