<% provide(:title, "Review Table of Contents for #{@book.title}") %>

<table class="book-data-review">
	<thead>
		<tr>
			<th>Chapter No.</th>
			<th>Title</th>
			<th>Characters</th>
			<th>Pages <br />(estimated)</th>
		</tr>
	</thead>
	<tbody>
        <% @book.sections.each do |section| %>
		<tr>
			<td><%= section.chapter %></td>
			<td><%= section.title %></td>
			<td><%= number_with_delimiter(section.text.length) %></td>
			<td><%= section.text.length / Book::CHARACTERS_PER_PAGE %></td>
		</tr>
        <% end %>
		<tr>
			<td>Total</td>
			<td></td>
			<td><%= number_with_delimiter(@book.text_length) %></td>
			<td><%= @book.text_length / Book::CHARACTERS_PER_PAGE %></td>
		</tr>
	</tbody>
</table>

        <p><%= link_to "Edit #{@book.title}", edit_book_path(@book), class: "btn" %></p>

        <p class="form-nav-links">
            <%= link_to "Back to Manage Books", books_path %> | <%= link_to "Go to #{@book.title}", book_path(@book) %>
        </p>
