<% provide(:title, "Edit #{@book.title}") %>

<h2>I have no words.</h2>

<%= form_for(@book) do |f| %>

	<%- if @book.errors.any? %>
	<div id="error_explanation">
		<%- @book.errors.full_messages.each do |msg| %>
			<p><%= msg %></p>
		<%- end %>
	</div>
	<%- end %>

	<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
	</p>

	<p>
	<%= f.label :author %>
	<%= f.text_field :author %>
	</p>

	<p>
	<%= f.label :subtitle %>
	<%= f.text_field :subtitle %>
	</p>

	<p>
	<%= f.label :logo_url %>
	<%= f.text_field :logo_url %>
	</p>

	<p>
	<%= f.label :cover_image_url %>
	<%= f.text_field :cover_image_url %>
	</p>

	<p>
	<%= f.label :background_image_url %>
	<%= f.text_field :background_image_url %>
	</p>

	<p>
	<%= f.label :epigraph %>
	<%= f.text_area :epigraph %>
	</p>

	<p>
	<%= f.label :copyright %>
	<%= f.text_area :copyright %>
	</p>

	<p>
	<%= f.submit "Save", class: "btn" %>
	</p>
	<p><%= link_to "Cancel", books_path %></p>
<% end %>

