<div class="screen-only centered">
    <h3><%= @book.title %> - Galley Preview</h3>
    <%= form_tag method: :post, action: :print do %>
        <%= hidden_field_tag :pages %>
        <p>
            <%= label_tag :position, 'Position:' %>
            <%= select_tag :position, options_for_select([['Front', 'Front'], ['Back', 'Back']]) %>
        </p>
        <p>
            <%= submit_tag :print, disabled: true, id: 'print-submit'  %>
        </p>
    <% end %>
</div>
<div id="ebook">
    <%= render partial: 'title_page', locals: { page: nil } %>
    <%= render partial: 'epigraph_page', locals: { page: nil } %>
    <!-- Get text from database in order -->
    <%- @book.sections.order(:order).each do |section| %>
            <div class="page" data-order="<%= section.order %>">
                <%= render partial: 'sidebar', locals: { sidebar_text: nil } %>
                <div class="rendered-text">
                    <%= section.text.html_safe %>
                </div>
            </div>
    <%- end %>
</div>
<%= javascript_include_tag 'galley' %>
