<div class="screen-only centered">
    <h3>Galleys - <%= @position.titleize %></h3>
    <p>
        <%= link_to "Preview All (read order)", galley_book_path(@book, :preview) unless @position == "preview" %>
        <%= link_to "Print Front (print order)", galley_book_path(@book, :front) unless @position == "front" %>
        <%= link_to "Print Back (print order)", galley_book_path(@book, :back) unless @position == "back" %>
    </p>
</div>
<div id="ebook">
            <!-- Title Page -->
            <div class="page">
                <%= render partial: "sidebar" %>
                <div class="rendered-text">
                    <h1><%= @book.title %></h1>
                    <h2 class="author">by <%= @book.author %></h2>
                    <p class="buffcenter"><%= @book.subtitle %></p>
                </div>
            </div>
            <!-- Epigraph -->
            <div class="page">
                <%= render partial: "sidebar" %>
                <div class="rendered-text">
                    <div class="epigraph-wrap">
                        <%= @book.epigraph.html_safe if @book.epigraph %>
                    </div>
                </div>
            </div>
    <!-- Get text from database in order -->
    <%- @book.sections.order(:order).each do |section| %>
            <div class="page">
                <%= render partial: "sidebar" %>
                <div class="rendered-text">
                    <%= section.text.html_safe %>
                </div>
            </div>
    <%- end %>
</div>
<%= javascript_include_tag 'galley' if @position == "preview" %>
