<%= stylesheet_link_tag 'galley', media: 'all' %>

<style>
<% @single_images.each do |image| %>
  #ebook img[src='<%= image['src'] %>'] { 
    <%= render_css(['height', 'margin_top', 'margin_bottom'], image) %>
  }
<% end %>

<% @multiple_images.each do |image| %>
  #ebook .order_<%= image['section_order'] %> <%= image['tagType'].downcase %>:nth-of-type(<%= image['n'] %>) img { 
    <%= render_css(['height', 'margin_top', 'margin_bottom'], image) %>
  }
<% end %>
</style>

<div class="screen-only centered">
    <h3><%= @title[:subtitle] %></h3>
    <p><%= link_to 'Back to Preview', galley_book_path(@book) %></p>
</div>
<div id="ebook">
    <%- @pages.each_with_index do |page, index| %>
        <%= %(<div class="spread clearfix">).html_safe if index.even? %>
        <% case page['order'] %>
            <% when 'title' %>
<%= render partial: 'title_page', locals: { sidebar_text: sidebar_text(page) } %>
            <% when 'epigraph' %>
<%= render partial: 'epigraph_page', locals: { sidebar_text: sidebar_text(page) } %>
            <% when 'blank' %>
<%= render partial: 'blank_page', locals: { sidebar_text: sidebar_text(page) } %>
            <% else %>
            <div class="page order_<%= page['order'] %>">
<%= render partial: 'sidebar', locals: { sidebar_text: sidebar_text(page) } %>
              <%= rendered_text_div_tag(page) %>
            </div>
        <% end %>
        <%= %(</div>).html_safe if index.odd? %>
    <%- end %>
</div>
