<% provide(:title, @page_subtitle) %>

<div id="scroll-wrap">
	<div id="ebook">
		<%- case @location %>
		<%- when 0 %>
		<p><figure><%= image_tag @book.cover_image_url, alt: @book.title, class: "book-cover" %></figure></p>
		<%- when 1 %>
		<h2><%= @book.title %></h2>
		<h2>by <%= @book.author %></h2>
		<p class="buffcenter"><%= @book.subtitle %></p>
		<%- when 2 %>
		<%= @book.epigraph.html_safe %>
		<%- when 3 %>
		<%= @book.copyright.html_safe %>
		<%- else %>
		<%= @book.sections[@location-@skips].text.html_safe %>
		<%- end %>
	</div>
</div>
<div id="book-nav">
    <nav class="up">
    Back
    </nav>
    <nav class="down">
    Next
    </nav>
</div>
<%= link_to "Back", open_book_path(@book, @location - 1), id: "back-btn" if @location > 0 %>
<%= link_to "Next", open_book_path(@book, @location + 1), id: "next-btn" if @location < (@book.sections.count + 3) %>
    </div>
	<!-- Lightbox -->
	<div id="lightbox"><span id="close">x</span></div>
    <%= render 'shared/books_js' %>
	<div><!-- matching div close tag in application.html.erb -->