<% provide(:title, @book.author) %>

<div id="scroll-wrap">
	<div id="ebook">
		<%- case @location %>
		<%- when 0 %>
		<p><figure><%= image_tag @book.cover_image_url, alt: @book.title %></figure></p>
		<%- when 1 %>
		<h2><%= @book.title %></h2>
		<h2>by <%= @book.author %></h2>
		<%- when 2 %>
		<section><%= @book.epigraph.html_safe %></section>
		<%- when 3 %>
		<section><%= @book.copyright.html_safe %></section>
		<%- else %>
		<%= @book.sections[@location-4].text.html_safe %>
		<%- end %>
	</div>
</div>
<div id="book-nav">
    <nav class="up">
    Back
    </nav>
    <nav class="down">
    Next
    </nav>
</div>
<%= link_to "Back", book_path(@book) + "?l=" + (@location - 1).to_s, id: "back-btn" %>
<%= link_to "Next", book_path(@book) + "?l=" + (@location + 1).to_s, id: "next-btn" %>