    <% content_for :page_styles do %>
      body { background-image: url('<%= @book.background_image_url %>'); }
    <% end if @book.background_image_url.present? %>

     <div id="scroll-wrap">
        <div id="ebook">
          <% case @location %>
          <% when 0 %>
            <p>
              <figure>
                <%= image_tag @book.cover_image_url, alt: @book.title, class: 'book-cover' %>
              </figure>
            </p>
          <% when 1 %>
            <h2><%= @book.title %></h2>
            <h3 class="author">by <%= @book.author %></h3>
            <p class="buffcenter"><%= @book.subtitle %></p>
          <% when 2 %>
            <%= @book.epigraph.html_safe if @book.epigraph %>
          <% when 3 %>
            <%= @book.copyright.html_safe if @book.copyright %>
          <% else %>
            <%= @section.text.html_safe if @section %>
          <% end %>
        </div>
      </div>
      <div id="book-nav">
        <nav class="up">
          Scroll Up
        </nav>
        <nav class="down">
          Scroll Down
        </nav>
      </div>
      <%= link_to_previous(@book, @location) %>
      <%= link_to_next(@book, @location) %>

    <% content_for :before_body_close do %>
      <!-- Lightbox -->
      <div id="lightbox">
        <span id="close">x</span>
      </div>
<%= render 'shared/books_js' %>
    <% end %>
