<!DOCTYPE html>
<html>
<head>
    <title><%= clean_title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <style>
    <%= yield :page_styles %>
  </style>
</head>
<body class="<%= render_body_classes %>">
    <div id="wrapper" class="box">
<%= render 'layouts/header' %>
        <% flash.each do |message_type, message| %>
            <div class="clearfix alert alert-<%= message_type %>">
              <%= message %> 
              <span class="close">[x]</span>
            </div>
        <% end %>
        <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :before_body_close %>
</body>
</html>
